{% extends "layout.html" %}

{% block content %}
<p>
<form action="/welcome" method="POST">
 
    <label for="adjective">Name an adjective: </label><br/>
    <input type="text" name="adjective" maxlength="50" /><br/>

    <label for="verb">Name a verb: </label><br/>
    <input type="text" name="verb" id="verb" maxlength="50" /><br/>
    
    <label for="adjective2">Name another adjective: </label><br/>
    <input type="text" name="adjective2" maxlength="50" /><br/>

    <label for="pluralNoun">Name a plural noun: </label><br/>
    <input type="text" name="pluralNoun" id="pluralNoun" maxlength="50" /><br/>

    <label for="food">Name a food: </label><br/>
    <input type="text" name="food" id="food" maxlength="50" /><br/>

    <label for="pluralNoun">Name a plural noun: </label><br/>
    <input type="text" name="pluralNoun" id="pluralNoun" maxlength="50" /><br/>

    <label for="adjective3">Name final adjective: </label><br/>
    <input type="text" name="adjective3" id="adjective3" maxlength="50" /><br/>

    <label for="animal">Name an animal: </label><br/>
    <input type="text" name="animal" id="animal" maxlength="50" /><br/>
    
    <input type="submit" name='submit' value="Submit">
</form>
</p>
{% endblock %}